@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Home Page";
}

    


    @if (SignInManager.IsSignedIn(User))
    {
        <div class="text-center">
            <h1>Her tam plaval</h1>
        </div>
    }
    else
    {
        <main role="main" class="inner cover">
            <h1>Hackday-2020</h1>
            <p class="lead">TExt</p>
            <p class="lead">
                <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
            </p>
        </main>
    }


