
@{
    ViewData["Title"] = "CourseDetails";
}

<h1>CourseDetails</h1>

<button class="btn btn-primary" id="addLesson">Add Lesson</button>


<script src="https://code.jquery.com/jquery-2.2.4.js"
        integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
        crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {
        $("#addLesson").on('click', function () {
            location.href = '/Dashboard/AddLesson';
        });

    });
</script>